### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies 
import pandas as pd

# load file
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df_file = pd.read_csv(file)
df_file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# using the unique function to find the unique number of total_num_players
total_num_players = len(df_file['SN'].unique())
total_players = pd.DataFrame({"Total Players": [total_num_players]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# utilizing the unique, mean, count and sum functions. Dan, thank you for showing me how these functions

unique_players = len(df_file['Item ID'].unique())
average_price = df_file['Price'].mean()
number_purchases = df_file['Purchase ID'].count()
total_sales = df_file['Price'].sum()

# summary dataframe with what is required
Summary_df = pd.DataFrame({"Number of Unique Items": [unique_players],
                        "Average Price" : average_price,
                         "Number of Purchases" : number_purchases,
                         "Total Revenue" : total_sales
                        })

# great idea Dan of using the formatting for 2 decimal places and then creating a new dataframe 
2_decimal_format_dictionary = {'Average Price':'${:,.2f}','Total Revenue':'${:,.2f}'}
Summary_df.style.format(2_decimal_format_dictionary)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#identify the genders, using the unique funcation. searching the original file called df_file
unique_gender = df_file["Gender"].unique()
unique_gender

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [5]:
# finding the genders and classifying them as Male, Female, Other/Non-Disclosed
# Dan thank you for showing me how to use the locate function
# Dan thank you for helping me using the == as a search criteria
# Dan thank you for showing me how to use the Value_counts function


#count and percentage of female out of total number of players
female_gender = df_file.loc[df_file["Gender"] == "Female" ,"SN"]
female_unique_values = len(female_gender.value_counts())
female_percentage = female_unique_values / total_num_players

#count and percentage of male out of total number of players
male_gender = df_file.loc[df_file["Gender"] == "Male" ,"SN"]
male_unique_values = len(male_gender.value_counts())
male_percentage = male_unique_values / total_num_players

#count and percentage of Other / Non-Disclosed gender out of total number of players
not_male_not_female = df_file.loc[df_file["Gender"] == "Other / Non-Disclosed", "SN"]
not_male_not_female_unique_values = len(not_male_not_female.value_counts())
not_male_not_female_percentage = not_male_not_female_unique_values / total_num_players

summary_table_gender = pd.DataFrame([[female_unique_values, female_percentage],[Male_unique_values, male_percentage],[not_male_not_female_unique_values, not_male_not_female_percentage]],
     index=['Female','Male', 'Other / Non-Disclosed'],
     columns=['Total Counts', 'Percentage of Players'])

# round to 2-decimal places
format_dictionary = {'Percentage of Players':'{:,.2%}'}

# apply the 2-decimal places
summary_table_gender.style.format(format_dictionary)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Thank you Dan for showing us how to use the groupby function
group_by_gender = df_file.groupby(['Gender'])

# using the count, mean, sum 
total_purchase = group_by_gender['Purchase ID'].count()
average_purchase = group_by_gender['Price'].mean()
total_value = group_by_gender['Price'].sum()

# Dan thank you for showing me how to use the x for x
average = [x for x in total_value]/summary_table_gender['Total Counts']

summary_table_purchase = pd.DataFrame({"Purchase Count" : total_purchase,
                                       "Average Purchase Price":average_purchase,
                                      "Total Purchase Value":total_value,
                                      "Average Total Purchase per Person":average})

# round to 2-decimal places
format_dictionary = {'Average Purchase Price':'${:,.2f}','Total Purchase Value':'${:,.2f}','Average Total Purchase per Person':'${:,.2f}'}

# apply the 2-decimal places
summary_table_purchase.style.format(format_dictionary)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Dan thank you for showing us how to use bins in a histogram.
# used Exel to come up with the custom values 
# Dan thank you for showing us how to use the max function 
custom_bins = [0, 9, 14, 19, 24, 29, 34, 39, max(df_file['player_Age'])]

bin_names = ["<10", "10-14", "14-19", "20-24", "25-29", "30-35",
              "36-40", "40+"]

# Dan thank you for showing us how to use the cut function 
df_file["Age_grouping"] = pd.cut(df_file["Player Age"], custom_bins, labels=bin_names)
df_file["Age_grouping"]

player_age_df = df_file.groupby("Age_grouping")

player_unique_total_count = player_age_df ['SN'].unique()
player_percent = player_unique_total_count / total_num_players

Summary_Age_Table = pd.DataFrame({"Total Count" : player_unique_total_count,
                                  "Percentage of Players" : player_percent
                                 })

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# utilizing the unique and sum functions. Continuing from the code above.

purchase_count = player_age_df['Purchase ID'].unique()
total_purchase = player_age_df['Price'].sum()
average_purchase_price = (total_purchase / purchase_count)
average_per_person = (total_purchase /  player_unique_total_count)


# summary dataframe with what columns are required
Summary_Purchase_table = pd.DataFrame({"Purchase Count" : purchase_count,
                                  "Average Purchase Price" : average_purchase_price,
                                       "Total Purchase Value": total_purchase,
                                       "Avg Total Purchase per Person" : average_per_person 
                                 })

# formating the summary dataframe
format_dictionary = {'Average Purchase Price':'${:,.2f}','Total Purchase Value':'${:,.2f}','Avg Total Purchase per Person':'${:,.2f}'}

# applying the formatting to the summary dataframe. Thank you Dan, for showing me how to use this for my data set as well.
Summary_Purchase_table.style.format(format_dictionary)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
# creating new data frames for the top spenders
# using the groupby, count and sum functions
top_spender_df = df_file.groupby("SN")
top_spender_df_count = top_spender_df['SN'].count()
top_spender_total = top_sender_df['Price'].sum()

# Dan thank you for reminding me to convert to a float and convert to 2 decimal places
avg_spend_purchase_price = (top_spender_total/top_spender_df_count).astype(float).map("${:,.2f}".format)

top_spender_summary_df = pd.DataFrame({"Purchase Count" : top_spender_df_count ,
                                  "Average Purchase Price" : avg_spend_purchase_price,
                                       "Total Purchase Value": top_spender_total.astype(float).map("${:,.2f}".format),
                                 })

# Dan thank you for showing us how to round to 2 decimal places
format_dictionary = {'Average Purchase Price':'${:,.2f}','Total Purchase Value':'${:,.2f}'}

# apply the formatting to the summary_df
top_spender_summary_df.style.format(format_dict)

# Dan thank you for showing me how to do this with my data set. Applied the by logic
top_spender_summary_df.sort_values(by='Total Purchase Value', ascending=False).head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
# creating the popular dataframe with the correct columns
popular_df = pd.DataFrame({'Item ID': df_file['Item ID'],
                       'Item Name': df_file['Item Name'],
                       'Item Price': df_file['Price']})

# Dan thank you for showing us how to use the groupby function
group_popular_df = popular_df.groupby(["Item ID","Item Name"])


# using count and unique value functions
popular_purchase_count = group_popular_df['Item Name'].count()
price = group_popular_df['Item Price'].unique()
popular_values = popular_purchase_count * item_price


# summary table for popular purchases, rounding to 2 decimal places and using the float and mapping 
# Dan thank you for the tip of using item price
popular_table = pd.DataFrame({"Purchase Count" : popular_purchase_count ,
                              "Item Price" : item_price.astype(float).map("${:,.2f}".format),
                             "Total Purchase Value": popular_values.astype(float).map("${:,.2f}".format),
                                 })

# Dan thank you showing me how to use the sort value by a column name identifier
popular_table_sort = popular_table.sort_values(by='Purchase Count', ascending=False)

# round to 2 decimal places
format_dict = {'Item Price':'${:,.2f}','Total Purchase Value':'${:,.2f}'}

# apply the formatting of 2 decimal places
popular_table_sort.style.format(format_dict)

# show header and 5 rows only
popular_table_sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [17]:
# bringing the popular dataframe from above with the correct columns

popular_df = pd.DataFrame({'Item ID': df['Item ID'],
                       'Item Name': df['Item Name'],
                       'Item Price': df['Price']})

# using the groupby functions
group_popular_df = popular_df .groupby(["Item ID","Item Name"])


# using the count,sum function and item price. 
popular_purchase_count = group_popular_df['Item Name'].count()
item_price = popular_table ['Item Price']
popular_values = group_popular_df['Item Price'].sum()


# summary popular table. Dan thank you for showing the dataframe
popular_table = pd.DataFrame({"Purchase Count" : popular_purchase_count,
                              "Item Price" : item_price,
                               "Total Purchase Value": popular_values,
                                 })

# format with 2 decimal places
format_dict = {'Item Price':'${:,.2f}','Total Purchase Value':'${:,.2f}'}

# final sort by using Total Purchase Value
Final_sort = popular_table.sort_values(by = "Total Purchase Value", ascending=False)

# apply the 2 decimal places
Final_sort.style.format(format_dict)

# final sort header
Final_sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
92,Final Critic,8,$4.88,39.04
103,Singed Scalpel,8,$4.35,34.80